@page
@model WebApplication3.Pages._401Model
@{
}

<div class="text-center">
    <h1 class="display-4">Err. 401 Unauthorised</h1>
    <p>We are going to need to see some ID before we let you in here (⌐■_■)</p>
    <p>Get an account or log in to see what is inside</p>

    <a href="/Index">Go Home?</a>
    <a href="/Login">Login</a>
</div>
