@page
@model WebApplication3.Pages._403Model
@{
}

<div class="text-center">
    <h1 class="display-4">Err. 403 Forbidden</h1>
    <p>Shoo shoo, theres a secret meeting here and you're not invited (⌐■_■)</p>
    <p>Contact the boss to join us</p>

    <a href="/Index">Go Home?</a>
</div>
