@page
@model WebApplication3.Pages._404Model
@{
}

<div class="text-center">
    <h1 class="display-4">Err. 404 Not Found</h1>
    <p>It seems like the page you are looking for is not available :(</p>

    <a href="/Index">Go Home?</a>
</div>
