@page
@model WebApplication3.Pages.ChangePasswordModel
@{
}

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb-3">Change Password</h1>

            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="mb-3">
                    <label class="form-label" asp-for="CModel.NewPassword">
                        New Password
                    </label>
                    <input type="text" asp-for="CModel.NewPassword" class="form-control" name="CModel.NewPassword" id="CModel.NewPassword" />
                    <p id="newPasswordError"></p>
                </div>

                <input type="submit" value="Change Password" class="btn btn-primary" />
            </form>
        </div>
    </div>
</div>
