@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    // Checks if session Security Stamp matches, if not logout and clear session
    
    if (context.HttpContext.Features.Get<ISessionFeature>()?.Session != null)
    {
        var userDetails = await UserManager.GetUserAsync(User);
        var sessionItem = context.HttpContext.Session;
        var sessSecurityStamp = "";
        sessSecurityStamp = sessionItem.GetString("SecurityStamp");
        if (sessSecurityStamp != userDetails.SecurityStamp)
        {
            await SignInManager.SignOutAsync();
            sessionItem.Clear();
            RedirectToPage("/Login");
        }

    }
}
@using Microsoft.AspNetCore.Identity
@using WebApplication3.ViewModels
@using Microsoft.AspNetCore.DataProtection;
@using Microsoft.AspNetCore.Http.Features;
@using System.Web;
@inject SignInManager<User> SignInManager;
@inject UserManager<User> UserManager;
@inject IHttpContextAccessor context;


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
