@page
@model WebApplication3.Pages.ResetPasswordModel
@{
}

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb-3">Reset Password</h1>

            <form method="post">
                <div asp-validation-summary="All"></div>

                <div class="mb-3">
                    <label class="form-label" asp-for="Password">Reset Password</label>
                    <input type="text" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>